<table>
	<tr>
		<td align='center'>
		    <td width='100%' align='center'><h1>Reports</h1></td>
        </td>
	</tr>
</table>

<table border=1 align='center'>
  <thead>
    <tr>
      <th><%= link_to "Client Report", reports_clients_path %></th>
      <th><%= link_to "Product Report", reports_products_path %></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>The report that lists the customers names, email, city, state, and country</td>
        <td>The report that lists products name, description, and its sales price. </td>
      </tr>
  </tbody>
</table>
