<table bgcolor='white'>
	<tr>
		<td align='center'>
		    <td width='100%' align='center'><h1>Our Catalog </h1></h1></td>
        </td>
	</tr>
</table>

<% @prod.each do |p| %>
	<product>
	<table width='100%'>
		<tr><td align='center'>
			<b><%= link_to p.productname,  product_path(p.id) %>
		</b></td></tr>

		<tr><td align='center'>
			<%= link_to (image_tag p.productimg, size:"150x150"), product_path(p.id) %>
		</td></tr>

		<tr><td align='center'>
			<b>Price:</b> <%= number_to_currency(p.price) %>
		</td></tr>
	</table>
	</product>
<% end %>
