<table bgcolor='white'>
	<tr>
		<td align='center'>
		    <td width='100%' align='center'><h1>Welcome to Divergent Development!</h1></td>
        </td>
	</tr>
    <tr>
        <td align='center'>
            <td width='100%' align='center'><h4>Browse our catalog to view all of our avalible web templates and code snippets!</h4></td></td>
        </td>
    </tr>
</table>
